.container-1 {
	background-color: blue;
	padding: 2rem;
	color: white;
}

.container-2 {
	background-color: black;
	padding: 2rem;
}

p {
	color: rgb(168, 167, 167);
}

.my-input {
	border: 2px blue solid;
	border-radius: 5px;
	padding: 5px;
	outline: none;
}
